
<div class="wrapper-cart">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Наименование</th>
        <th scope="col">Количество</th>
        <th scope="col">Стоимость</th>
        <th scope="col">Итого</th>
        <th scope="col">Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.products">
        <td>{{item.name}}</td>
        <td>
          <div class="counter-item">
            <button class="btn btn-primary" type="button" ng-disabled="item.count == 1" ng-click="vm.productsService.minusOne(item)"><i class="fas fa-minus"></i></button>
          </div>
          <div class="counter-item input">{{item.count}}</div>
          <div class="counter-item">
            <button class="btn btn-primary" type="button" ng-click="vm.productsService.plusOne(item)"><i class="fas fa-plus"></i></button>
          </div>
        </td>
        <td>{{item.price | number}}</td>
        <td>{{(item.count * item.price) | number}}</td>
        <td>
          <button class="btn btn-warning" type="button" ng-click="vm.productsService.removeFromCart(item)">Убрать из корзины</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-success" type="button">Оформить заказ</button>
</div>