
<div class="wrapper-products">
  <div class="ul">
    <div class="ul__li" ng-repeat="item in vm.products">
      <div class="ul__li__name"><span>{{item.name}}</span></div>
      <hr/>
      <div class="ul__li__price"><span>{{item.price | number}} руб</span></div>
      <hr/>
      <div class="ul__li__actions">
        <button class="btn btn-success" type="button" ng-if="!item.in_cart" ng-click="vm.productsService.addToCart(item)">В корзину</button>
        <button class="btn btn-warning" type="button" ng-if="item.in_cart" ng-click="vm.productsService.removeFromCart(item)">Убрать из корзины</button>
      </div>
    </div>
  </div>
</div>