<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тестовое задание</title>
    <base href="http://localhost/unicom/public/"/>
    <link href="js/bundle/css/app.min.css" rel="stylesheet"/>
    <link href="js/bundle/css/vendor/bootstrap.min.css" rel="stylesheet"/>
</head>
<body ng-app="mainApp" class="wrapper-common">

<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Магазин "SUPER SILA"</h1>
        <p class="lead">
            <a href="products">Продукты</a>&nbsp;|&nbsp;<a href="cart">Корзина</a>
        </p>
    </div>
    <div ng-controller="HeaderController as ctrl" class="mx-auto">
        <ul class="cart">
            <li><a href="cart">Корзина</a></li>
            <li>товаров: {{ctrl.storageService.storage.cart.count}}</li>
            <li>на сумму: {{ctrl.storageService.storage.cart.total | number}} руб</li>
        </ul>
    </div>
    <!-- Content here -->
    <ng-view></ng-view>
</div>

<!-- vendor -->
<script src="js/vendor/font-awesome.js" charset="utf-8"></script>
<script src="js/vendor/angular.min.js" charset="utf-8"></script>
<script src="js/vendor/angular-route.min.js" charset="utf-8"></script>
<script src="js/vendor/moment.min.js" charset="utf-8"></script>
<script src="js/vendor/underscore-min.js" charset="utf-8"></script>

<script src="js/bundle/app.min.js"></script>

<script>
    (function (angular) {
        'use strict';
        angular.module('mainApp')
                .constant('config', {
                    appName: 'Test v1.',
                    appVersion: 1.0,
                    baseUrl: 'http://localhost/unicom/public/',
                    path: {
                        models: {
                            products: {
                                read: 'server/products.json'
                            }
                        }
                    }
                });
    })(window.angular);
</script>

</body>
</html>