.wrapper-cart {
  .counter-item {
    display: inline-block;
    vertical-align: top;
    &.input {
      min-width: 40px;
      height: 38px;
      line-height: 40px;
      text-align: center;
    }
  }
}