.wrapper-products {
  .ul {
    list-style: none;
    &__li {
      padding: 10px;
      width: 200px;
      height: auto;
      display: inline-block;
      vertical-align: top;
      margin: 0 10px 10px 0;
      background: #fff;
      -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
      box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
      &__price {
        font-weight: 700;
        color: #202020;
      }
      &__name {
        color: #3757c5;
        max-height: 63px;
        white-space: inherit;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
      }
    }
  }

}