.wrapper-cart
    table.table.table-hover
      thead.thead-dark
        tr
          th(scope='col') Наименование
          th(scope='col') Количество
          th(scope='col') Стоимость
          th(scope='col') Итого
          th(scope='col') Действия
      tbody
        tr(ng-repeat="item in vm.products")
          td {{item.name}}
          td
            .counter-item
                button.btn.btn-primary(type='button' ng-disabled="item.count == 1" ng-click="vm.productsService.minusOne(item)")
                    i.fas.fa-minus
            .counter-item.input {{item.count}}
            .counter-item
                button.btn.btn-primary(type='button' ng-click="vm.productsService.plusOne(item)")
                    i.fas.fa-plus

          td {{item.price | number}}
          td {{(item.count * item.price) | number}}
          td
            button.btn.btn-warning(type='button' ng-click="vm.productsService.removeFromCart(item)") Убрать из корзины

    button.btn.btn-success(type='button') Оформить заказ

